:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Ubuntu Mono", monospace;
  --code-color: #4d4e53;
  --code-color-bg: #f5f5f5;
  --js-logo-color: #ffd600;
  --font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

html {
  /* color-scheme: light dark; */
}

body {
  display: grid;
  grid-template-columns: 250px minmax(500px, 800px);
  height: 100vh;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  line-height: 1.6rem;
}

section {
  padding-bottom: 1rem;
}

nav {
  position: fixed;
  padding-left: 2rem;
  height: fit-content;

  h1::before {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../assets/icons8-js.svg);
    background-size: cover;
    margin-right: 10px;
  }

  .nav-hover::before {
    background-image: url(../assets/icons8-js.gif);
  }

  h1 {
    display: flex;
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    font-weight: 600;
  }

  li {
    margin-bottom: 1rem;
  }

  a {
    color: #000;
    position: relative;
    text-decoration: none;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--js-logo-color);
    transition: width 0.3s ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }
}

main {
  padding: 2rem;
  padding-left: 1rem;
}

article {
  line-height: 2rem;
  word-spacing: 0.1rem;

  h2 {
    line-height: 2rem;
  }

  ul {
    padding-left: 1.5rem;
  }
}

strong {
  font-weight: bold;
}

code,
pre {
  font-size: 1.1rem;
  font-family: var(--font-mono);
  color: var(--code-color);
  background-color: var(--code-color-bg);
  overflow-x: scroll;
}

code {
  padding: 0.2rem;
}

pre {
  display: block;
  padding: 1rem;
  white-space: pre-line;
}

.external-link:after {
  font-family: "Material Symbols Rounded";
  content: "open_in_new";
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-right: 1rem;

  a {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
  }

  nav {
    position: relative;
  }

  footer {
    justify-content: space-around;
    text-align: center;
    line-height: 1.1;

    span {
      display: block;
      margin-bottom: 0.5rem;
    }

    a {
      display: block;
    }
  }
}
